{% extends "layouts/base.html" %}
{% load static %}
{% block title %} My First Index HTML Page {% endblock title %}
{% block content %}
<a href="list_books.html">Go Back</a>
<h1>Details of Book1</h1>
<h2>Internet & World Wide Web How to Program</h2>
<h2>Author: author name</h2>
<p><strong> Internet & World Wide Web How to Program, 5/e </strong> provides a
clear, simple, engaging and entertaining introduction to Internet and web
programming. Its appropriate for both introductory and intermediate-level clientside and server-side programming courses.</p>
<img src="{% static 'book1.png' %}" alt="Book1 img desc" width="200" height="200">
{% endblock content %}

